{% set mediaTeaserTitle = pimcore_input('mediaTeaserTitle') %}
{% set mediaTeaserText = pimcore_textarea('mediaTeaserText', { nl2br: true }) %}
{% set mediaTeaserLink = pimcore_link('mediaTeaserLink') %}
{% set mediaTeaserBackground = pimcore_href('mediaTeaserBackground', {
    width: '100%',
    types: ['asset'],
    subtypes: ['image'],
    reload: true,
    uploadPath: '/images/background'
}) %}

<div class="uk-container">
    <div class="uk-background-cover uk-inline-clip uk-flex uk-flex-top"
        {% if not mediaTeaserBackground.isEmpty() and mediaTeaserBackground.getElement() is instanceof('\\Pimcore\\Model\\Asset\\Image') %}
            style="background-image: url({{ mediaTeaserBackground.getElement().getThumbnail('media-teaser-background') }});"
        {% endif %}>

        {% if editmode or not mediaTeaserTitle.isEmpty() %}
            <div class="uk-overlay-primary uk-position-cover"></div>
            <div class="uk-overlay uk-padding-large uk-width-2-3@m uk-margin-auto-vertical">
                <h3 class="uk-text-uppercase" data-uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;">{{ mediaTeaserTitle|raw }}</h3>

                {% if editmode or not mediaTeaserLink.isEmpty() %}
                    <div data-uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;">
                        {% if editmode or not mediaTeaserText.isEmpty() %}
                            <p>{{ mediaTeaserText|raw }}</p>
                        {% endif %}

                        {{ mediaTeaserLink|raw }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% if editmode %}
        {{ mediaTeaserBackground|raw }}
    {% endif %}
</div>