<div class="footer uk-container">
    <div class="uk-section uk-section-secondary uk-preserve-color uk-padding-remove-vertical">

        <div class="uk-grid uk-grid-collapse uk-flex-middle" data-uk-grid>
            {% if document.getProperty('shopPage') is instanceof('\\Pimcore\\Model\\Document\\Page') %}
                <div class="uk-width-expand@s uk-width-1-1 uk-flex-last@s">
                    <div class="uk-text-right">
                        <a href="{{ document.getProperty('shopPage').getFullPath() }}"
                           class="uk-button uk-button-primary uk-button-large uk-width-auto@s uk-width-1-1 uk-flex-middle">
                            <span class="uk-margin-small-right" data-uk-icon="cart"></span> Zum Shop
                        </a>
                    </div>
                </div>
            {% endif %}

            {% if pimcore_website_config('linkedin') is not empty or pimcore_website_config('twitter') is not empty %}
                <div class="uk-width-auto">
                    <div class="social-media uk-padding-small">
                        {% if pimcore_website_config('linkedin') is not empty %}
                            <a href="{{ pimcore_website_config('linkedin') }}" class="uk-icon-link uk-margin-small-right"
                               data-uk-icon="icon: linkedin; ratio: 1.3"></a>
                        {% endif %}

                        {% if pimcore_website_config('twitter') is not empty %}
                            <a href="{{ pimcore_website_config('twitter') }}" class="uk-icon-link"
                               data-uk-icon="icon: twitter; ratio: 1.3"></a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% if document.getProperty('imprintPage') is instanceof('\\Pimcore\\Model\\Document\\Page') %}
                <div class="uk-width-auto@s uk-width-expand">
                    <div class="legals uk-padding-small uk-text-right uk-text-left@s">
                        <a class="uk-link-reset" href="{{ document.getProperty('imprintPage').getFullPath() }}">
                            {{ 'app.footer.imprint.label'|trans }}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
</div>
